In [26]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [56]:
dtypes = {'CRASH_DATE_EST_I': 'category', 'TRAFFIC_CONTROL_DEVICE': 'category', 'DEVICE_CONDITION': 'category',
         'WEATHER_CONDITION': 'category', 'LIGHTING_CONDITION': 'category', 'FIRST_CRASH_TYPE': 'category',
         'TRAFFICWAY_TYPE': 'category', 'ROADWAY_SURFACE_COND': 'category', 'ROAD_DEFECT': 'category',
         'REPORT_TYPE': 'category', 'CRASH_TYPE': 'category', 'INTERSECTION_RELATED_I': 'category',
         'NOT_RIGHT_OF_WAY_I': 'category', 'HIT_AND_RUN_I': 'category', 'DAMAGE': 'category', 
         'PRIM_CONTRIBUTORY_CAUSE': 'category', 'SEC_CONTRIBUTORY_CAUSE': 'category', 'STREET_DIRECTION': 'category',
         'STREET_NAME': 'category', 'PHOTOS_TAKEN_I': 'category', 'STATEMENTS_TAKEN_I': 'category',
         'DOORING_I': 'category', 'WORK_ZONE_I': 'category', 'WORK_ZONE_TYPE': 'category', 'WORKERS_PRESENT_I': 'category',
         'MOST_SEVERE_INJURY': 'category'}

In [57]:
crashes = pd.read_csv("../TrafficCrashesChicago.csv", parse_dates=['CRASH_DATE', 'DATE_POLICE_NOTIFIED'],
                      dtype=dtypes)

In [58]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377630 entries, 0 to 377629
Data columns (total 48 columns):
RD_NO                            377630 non-null object
CRASH_DATE_EST_I                 28062 non-null category
CRASH_DATE                       377630 non-null datetime64[ns]
POSTED_SPEED_LIMIT               377630 non-null int64
TRAFFIC_CONTROL_DEVICE           377630 non-null category
DEVICE_CONDITION                 377630 non-null category
WEATHER_CONDITION                377630 non-null category
LIGHTING_CONDITION               377630 non-null category
FIRST_CRASH_TYPE                 377630 non-null category
TRAFFICWAY_TYPE                  377630 non-null category
LANE_CNT                         198549 non-null float64
ALIGNMENT                        377630 non-null object
ROADWAY_SURFACE_COND             377630 non-null category
ROAD_DEFECT                      377630 non-null category
REPORT_TYPE                      368884 non-null category
CRASH_TYPE                       377630 non-null category
INTERSECTION_RELATED_I           83409 non-null category
NOT_RIGHT_OF_WAY_I               17401 non-null category
HIT_AND_RUN_I                    104899 non-null category
DAMAGE                           377630 non-null category
DATE_POLICE_NOTIFIED             377630 non-null datetime64[ns]
PRIM_CONTRIBUTORY_CAUSE          377630 non-null category
SEC_CONTRIBUTORY_CAUSE           377630 non-null category
STREET_NO                        377630 non-null int64
STREET_DIRECTION                 377628 non-null category
STREET_NAME                      377629 non-null category
BEAT_OF_OCCURRENCE               377626 non-null float64
PHOTOS_TAKEN_I                   4781 non-null category
STATEMENTS_TAKEN_I               7624 non-null category
DOORING_I                        1264 non-null category
WORK_ZONE_I                      2646 non-null category
WORK_ZONE_TYPE                   2100 non-null category
WORKERS_PRESENT_I                617 non-null category
NUM_UNITS                        376172 non-null float64
MOST_SEVERE_INJURY               375396 non-null category
INJURIES_TOTAL                   375403 non-null float64
INJURIES_FATAL                   375403 non-null float64
INJURIES_INCAPACITATING          375403 non-null float64
INJURIES_NON_INCAPACITATING      375403 non-null float64
INJURIES_REPORTED_NOT_EVIDENT    375403 non-null float64
INJURIES_NO_INDICATION           375403 non-null float64
INJURIES_UNKNOWN                 375403 non-null float64
CRASH_HOUR                       377630 non-null int64
CRASH_DAY_OF_WEEK                377630 non-null int64
CRASH_MONTH                      377630 non-null int64
LATITUDE                         375627 non-null float64
LONGITUDE                        375627 non-null float64
LOCATION                         375627 non-null object
dtypes: category(26), datetime64[ns](2), float64(12), int64(5), object(3)
memory usage: 73.2+ MB

In [55]:
crashes[['LATITUDE', 'LONGITUDE', 'LOCATION']].head()

    LATITUDE  LONGITUDE                                  LOCATION
0  41.886140 -87.614274    POINT (-87.614274106164 41.8861404879)
1  41.745549 -87.614670  POINT (-87.614669906271 41.745549113377)
2  41.772004 -87.581234   POINT (-87.58123401629 41.772004323752)
3  41.892327 -87.635742   POINT (-87.635741843096 41.89232650689)
4  41.948637 -87.688458  POINT (-87.688457506457 41.948636883802)

array(['2019', '2015', '2018', '2016', '2020', '2017', '2014', '2013'],
      dtype=object)